<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Client</title>
<link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link th:href="@{/css/scrolling-nav.css}" href="/css/scrolling-nav.css"
	rel="stylesheet" type="text/css" />
</head>

<body>
	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery.js}" type="application/javascript"></script>
		<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
		<script th:src="@{/js/jquery.easing.min.js}"
			type="application/javascript"></script>
		<script th:src="@{/js/scrolling-nav.js}" type="application/javascript"></script>
	</div>
</body>
</html>